.row.strap
  %p.span12 Find out where to study something, if you'd like moar moneh.

.row
  .span12.search-form
    %form{:action => '/courses/results', :method => :get}
      %label.span5
        %h2 What do you want to study?
      .span5
        %input{:type => :text, :name => 'terms'}
      .span2
        %input.btn.btn-inverse{:type => :submit, :value => 'Where shall I study?'}

.row
  .span6.course-list
    %h2 Overall top salaries
    %ol
      - @top_salaries.all.each do |salary|
        = render :partial => 'course_bits', :locals => {:course => salary.course}
  .span6.course-list
    %h2 Overall worst salaries
    %ol
      - @bottom_salaries.all.each do |salary|
        = render :partial => 'course_bits', :locals => {:course => salary.course}
