%form{:action => {:course => :results}, :method => :get}
  %label  
    %h1 What do you want to study?
    %input{:type => :text, :name => 'terms'}

  %input{:type => :submit, :value => 'Where shall I study?'}

