.row
  .span6
    %h3 Great courses
    .great
      %ol
        .ol-wrapper
          - @top_results.each do |result|
            = render :partial => 'course_bits', :locals => {:result => result}

  .span6
    %h3.strike
      Shit courses
    %h4
      Courses which may not offer acceptable return on your investment
    .shit
      %ol
        .ol-wrapper
          - @bottom_results.each do |result|
            = render :partial => 'course_bits', :locals => {:result => result}
