
.row.strap
  %p.span12 Here are are the courses that resulted in the best- and worst-paying jobs

.row
  .span6
    %h3.great-title Great courses
    .great
      %ol
        - @top_courses.each do |course|
          = render :partial => 'course_bits', :locals => {:course => course}


  .span6
    %h3.shit-title
      %strike
        Shit
      low paying courses
    .shit
      %ol
        - @bottom_courses.each do |course|
          = render :partial => 'course_bits', :locals => {:course => course}

