.row
  .span6
    %h3 Great courses
    %ul
      - @top_results.each do |result|
        = render :partial => 'course_bits', :locals => {:result => result}

  .span6
    %h3.strike
      Shit courses
    %h3
      Courses which may not offer acceptable return on your investment
    %ul
      - @bottom_results.each do |result|
        = render :partial => 'course_bits', :locals => {:result => result}
