.row
  .span12
    %h1 University course salaries
    %p.strap Find out where to study something, if you'd like moar moneh.

.row
  .span6
    %h3 Great courses
    .great
      %ol
        - @top_courses.each do |course|
          = render :partial => 'course_bits', :locals => {:course => course}


  .span6
    %h3.strike
      Shit courses
    %h4
      Courses which may not offer acceptable return on your investment
    .shit
      %ol
        - @bottom_courses.each do |course|
          = render :partial => 'course_bits', :locals => {:course => course}

