// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-form {
  background-color: #1F5F61;
  padding: 30px;
  margin-top: 90px;
  border-radius: 5px;

    label {
      margin: 0px 0px 0px 0px;
      display: inline;
      float:left;

      h2 {
        margin: 0px;
        color: #fff;
      }
    }

    input {
      float:right;
      padding: 10px 15px;
      margin: 0px;
    }

    input[type="text"] {
      width: 470px;
      background-color: #292929;
      border: 0px;
      color: #fff;
    }

    input[type="submit"] {
      width: 170px;
    }
}

.row.strap {
  margin-bottom: 80px;
}

.great, .shit {

  ol {
    margin: 0px;
    font-family: 'Lato', serif;
    font-weight: 300;
    color:  #181818;
    line-height: 30px;

    li {
      list-style-type: none;
      margin-bottom: 20px;
      line-height: 30px;
      padding: 25px;
      background-color: gray;
      float: left;

      .span4 {
        margin-left: 0px;
      }

      h4 {
        font-size: 25px;
        font-family: 'Lato', serif;
        font-weight: 300;
        margin-top: 0px;
       }

      p {
        margin-bottom: 0px;
      }

      .stuff-link, .danger-link {
        background-color: #1F5F61;
        padding: 2px 14px;
        color: #fff;
        float:right;
        font-family: 'Sanchez', serif;
        font-size: 20px;

        &:hover {
          text-decoration: none;
          background-color: #000000;
        }
      }

      .danger-link {
        background-color: rgb(223, 70, 70);
        margin-right: 2px;
        font-family: lato;
        font-size: 95%;
      }
    }
  }
}

$colours: #FFFFFF, #F0F0F0, #E0E0E0, #D8D8D8, #D0D0D0, #C8C8C8, #C0C0C0, #B0B0B0, #A0A0A0, #909090;
@for $i from 1 through 10 {
  .great li:nth-child(#{$i}) { background-color: nth($colours, $i);    }
  .shit li:nth-child(#{11 - $i}) { background-color: nth($colours, $i);    }
}

.salary {
  font-weight: 900;
  font-size: 20px;
}

.range {
  font-style: italic;
  font-size: 20px;
}

h4 .institution {
  font-size: 15px;
  font-weight: 900;
  display: block;
  margin: 10px 0px 20px 0px;
}

.row.strap {
  font-size: 1.4em;
}

.great-title, .shit-title {
  color: #1F5F61;
  font-size: 24px;
}
